body{
    font-family: 'Montserrat', sans-serif;  
}
.nav{
    margin-left: 850px;
    margin-top: 50px;
}
.nav a{
    text-decoration: none;
    color: rgb(82, 173, 201);
    padding: 25px;
    font-size: 20px;
}
.nav a:hover{
	font-weight: bold;
    font-size: 25px;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}

.flex-container{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 5%;
}
.half-width img{
    width: 75%;
}
.half-width h1{
    font-size: 50px;
}
.color-change{
    color: rgb(82, 173, 201);
}
.container-box{
    width:85%;
    margin:auto;
    font-size: 20px;
}
.container-box h1{
    font-size: 45px;
}
.form-box{
    width:40%;
    margin: auto;
}
form{
    margin-top: 50px;
}
label{
    font-size: 25px;
    font-weight: 500;
}
input[type=text],textarea{
    width:100%;
    padding: 12px;
    font-size: 15px;
    margin:10px 0;
    border-radius: 5px;
    border: 1px solid rgb(66, 133, 153);
    box-shadow: 2px 2px 3px rgb(56, 117, 136);
}
input[type=submit]{
    background-image: linear-gradient(90deg, rgb(104, 193, 207), rgb(87, 120, 192));
    border-radius: 4px;
    padding: 15px 45px;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover {
   font-size: 23px;
  }
.project-box{
    margin: 75px 0;;
    display: flex;
    justify-content: space-around;
}
.project{
    width:480px;
    margin-left:4%;
    border-radius: 5px;
    box-shadow: 0px 10px 4px gray;
    transition: all .15s linear;
}
.project:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.project img{
    width: 100%;
    height: 220px;
}
.details{
    padding:0px 30px;
    text-align: justify;
}
.details h3{
    color:rgb(82, 173, 201);
}
.details p{
    font-size: 15px;
}
.button-link{
    display: inline-block;
    text-decoration: none;
    padding:15px 45px;
    background-color: rgb(82, 173, 201);
    font-size: 25px;
    color:white;
    border-radius: 25px;
    margin-top: 20px;
}
.button-link:hover{
    background-color:  rgb(49, 76, 116);
    color:azure;
    font-size: 28px;
}