body{
    font-family: 'Montserrat', sans-serif;
    
}
.half-width{
    width: 40%;
    margin: 5%;
}
.flex-container{
    display: flex;
}
.half-width img{
    width: 75%;
}
.color-change{
    color: rgb(96, 205, 238);
}
.half-width h1{
    font-size: 50px;
}